<!DOCTYPE html>
<html>
<head>
  <title>FliBlog</title>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Manchester Fighters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  
  
   <link rel="stylesheet" href="/stylesheets/application.scss">
</head>
<body>

 
  <div id='header' class="container-fluid-header">
  <%= link_to image_tag("/assets/rsz_logo-1.jpg"), root_path, class: "header_logo"  %>
  </div>
  
  
 <div>
  <ul class="topnav">
  <li class="active mf"></li>
  <li><%= link_to "Blog", root_path %></li>
  <li><%= link_to "About", about_path %></li>
  <li><%= link_to "Contact", new_contact_path %></li>
  
  <li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
  </li>
</ul>

 </div>

 <div id="left_sidebar">
 </div>

  <div id="right_sidebar">
 </div>



     <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert") %>
     <% end %>

    

  <%= yield %>

  <div id="footer">
      <br>

      Follow us: 
      <a target="_blank" title="follow me on facebook" href="https://www.facebook.com/groups/585152941597556/?fref=ts"><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook40x40.png" border=0></a>
      <a target="_blank" title="follow me on instagram" href="https://www.instagram.com/manchester_fighters/"><img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram40x40.png" border=0></a>

      <a target="_blank" title="follow me on instagram" href="https://www.instagram.com/manchester_fighters/"><img alt="follow me on instagram" src="/assets/YouTube-icon-full_color.png" border=0></a>

            
      <a target="_blank" title="follow me on Twitter" href="https://twitter.com/mancfighters"><img alt="follow me on twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter40x40.png" border=0></a>
      <br>
      <br>
      F**king Little Idiots © 2016
      <br>
      <p class="sign_in"><%= link_to 'Admin Login', new_user_session_path %></p>
      <br>

      <% if user_signed_in? %>
           <button class ="button"><%= link_to "New Post", new_post_path %></button>
           <button class="button"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></button>
        <% end %>
       </div>
    </div>
   </div>

  

    <script>
function myFunction() {
    document.getElementsByClassName("topnav")[0].classList.toggle("responsive");
}
</script>

  
</body>
</html>
